html {
  background-color: #0c64cf;
  background-image: linear-gradient(to bottom right, #180cac, #00bcf1);
}

.wallpaper {
  background-image: url(../images/NewHouse.png);
}

.job {
  color: #fcda52;
}

.hr {
  background-color: #ff2b0f;
}

.button {
  color: #303884;
}

@media screen and (min-width: 800px) {
  .content {
    justify-content: center;
  }
}
