/* Override main.css */

html {
  background-color: #0C64CF;
  background-image: linear-gradient(to bottom right, #180cac, #00bcf1);
}

.wallpaper {
  background-image: unset;
}

.job {
  color: #fcda52;
}

.hr {
  background-color: #ff2b0f;
}

.button {
  color: #303884;
}

@media screen and (min-width: 800px) {
  .content {
    justify-content: center;
  }
}

/* Override animations.css */

.wallpaper {
  animation-name: zoomOut;
}
.picture-shadow {
  animation-name: picShadow;
}
.picture-image {
  animation-name: picImage;
}
